
services:
  code-server-backend:
    build:
      context: .
      dockerfile: Dockerfile

    image: code-server-backend
    container_name: code-server-backend
    environment:
      - PUID=1000
      - PGID=1000
      - DEFAULT_WORKSPACE=/Users/saif/stich/stich-worker
    ports:
      - "8443:8443"
      - "8000:8000"
    volumes:
      - /Users/saif/stich/stich-worker:/Users/saif/stich/stich-worker
      # - /Users/saif/stich/stich-config:/config
  
  code-server-frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend

    image: code-server-frontend
    container_name: code-server-frontend
    environment:
      - PUID=1000
      - PGID=1000
      - DEFAULT_WORKSPACE=/Users/saif/stich/stich-worker-frontend
    ports:
      - "8444:8443"
      - "5173:5173"
    volumes:
      - /Users/saif/stich/stich-worker-frontend:/Users/saif/stich/stich-worker-frontend
      # - /Users/saif/stich/stich-config:/config